* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: aliceblue;
    margin: 0;
}

.calculator {
    min-height: 100vh;          /*height will be the entire viewport height*/
    display: grid;
    justify-content: center;
    align-content: center;      /*has to be content, not items, otherwise the buttons show up with gaps b/w them*/
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(6,100px);
}

 .calculator button {
     font-size: 20px;
     color: white;
     opacity: 0.8;
     background-color: black;
     border: 1px solid white;
     border-radius: 4px;
 }

 .ops {
    background-color: orange !important;    /*overrides the bg colour of buttons*/
}

 .calculator button:hover{
     opacity: 0.7;
     cursor: pointer;        /*shows the buttons as being clickable, hand symbol on mouse pointer*/
}

 .display {
     padding: 12px;
     font-size: 32px;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
     align-items: flex-end;
     grid-column: 1/-1;         /*moves the display screen to the top of the calculator*/
     background-color: black;
     color: white;
     border-radius: 4px;
 }

 .two {
     grid-column: span 2;
 }

 .display .fdisplay {
     color: white;
     opacity: 0.8;
     font-size: 24px;
 }